.form-container {
  display: flex;
  align-items: flex-start; 
  width: 100%;
}

.sidebar {
  width: 50px;
  background-color: #EB12FE;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.main-content {
  margin-left: 30%;
  margin-top: 5%;
  width: 800px;
}

.text-area {
  width: 100%; 
  max-width: 800px;
  resize: vertical;
  margin-bottom: 15px;
  margin-top: 80px;
  border-radius: 10px;
  padding: 10px;
}

.feedback-container {
  display: flex;
  align-items: center;
  margin-top: 20px; 
  margin-bottom: 100px; 
  background-color: #E6E6E6;
  border-radius: 10px;
  padding-left: 15px;
}

.back-arrow {
  font-size: 1.2em;
  margin-right: 10px;
}

.feedback-container h1 {
  font-size: 1.5em;
}

.button-submit {
  border-radius: 20px;
  border: none;
  padding: 0.6em 1.2em;
  background-color: #EB12FE;
  color: #fff;
  cursor: pointer;
  width: 200px;
  height: 40px;
}
